.banner{
    background:var(--azul-degrade);
    text-align: center;
    color:var(--branco);
    padding: 2.5em 2em;

}
.banner_título{
    font-weight: 700;
    margin: 1em 0em;
    font-size: 18px;

}
.banner_texto{
    font-weight: 500;
    font-weight: 1em 0em;
}
